@model IEnumerable<Review>
@{
    ViewData["Title"] = "Reviews";
    Layout = "_Layout2";
}


<div class="row" id="formDiv">
    <div class="col-lg-2"></div>
    <div class="col-lg-8" id="interiorDiv">
        <h2 class="text-center">Reviews</h2>
        <br />

        @foreach (var a in Model)
        {
            <h3>From: @a.From.FirstName @a.From.LastName </h3>
            <h4>
                <span class="glyphicon glyphicon-calendar"> @a.Date.ToString("d")</span>

            </h4>
            <h4><span class="alert-info"> @a.Subject </span></h4>
            <h3><p>Body: @a.Body </p></h3>


            @if (a.Comments.Count() > 0)
            {
            <p><span class="badge">@a.Comments.Count()</span> Owners Response:</p>

                foreach (var n in a.Comments)
                {

                <h5><span class="alert-info"> @n.Subject </span></h5>
                <p> @n.Body  </p>
                }
            }
            <hr>
        }
    </div>
    <div class="col-lg-2"></div>
</div>



