@model List<BidRequest>



<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a data-toggle="collapse" href="#collapse2" id="parTitle">All Current Quote Requests</a>
                    </h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="container" id="formDiv">
                        <div class="row">
                           <br />
                            <br />   
                            <form asp-controller="Admin" asp-action="BRFilter" class="pull-right">
                                <p>
                                    <input type="text" name="SearchString">
                                    <input type="submit" value="Filter" />
                                </p>
                            </form>

                                <table class="table table-striped table-bordered table-condensed">
                                    <tr>
                                        <th>Date Created</th>
                                        <th>Last Name</th>
                                        <th>Description</th>
                                        <th>Location</th>
                                        
                                        <th class="text-right">Action</th>

                                    </tr>

                                    @foreach (var br in Model)
                                    {
                                        <tr>
                                            <td>@br.DateCreated.ToString("d")</td>
                                            @if (br.User.LastName == null)
                                            {
                                                <td>@br.User.FirstName</td>
                                            }
                                            else
                                            {
                                                <td>@br.User.LastName</td>
                                            }
                                            <td>@br.ProjectDescription</td>
                                            <td>@br.ProjectLocation</td>
                                            
                                            <td>
                                                
                                                    <div class="btn-toolbar">
                                                        @*<button type="submit" class="btn btn-warning btn-sm pull-right">Delete</button>*@
                                                        <a asp-action="DeleteBidReq" asp-controller="BidRequest" class="btn btn-sm btn-danger pull-right" asp-route-bidrequestId="@br.BidRequestID">Delete</a>
                                                        <a asp-action="Bid" asp-controller="BidRequest" class="btn btn-sm btn-primary pull-right" asp-route-bidrequestId="@br.BidRequestID">Respond</a>
                                                        <input class="" type="hidden" name="BidRequestID" value="@br.BidRequestID" />
                                                        
                                                    </div>
                                                
                                            </td>
                                        </tr>

                                    }
                                </table>
                      
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>