@* This page will be for Admin to view ongoing projects and info *@
@model IEnumerable<Project>

<table>
    @foreach(var p in Model)
    {
        <tr>
            <td>@p.ProjectName</td>
            <td>@(p.Client.LastName + ", " + p.Client.FirstName) </td>
            <td>@p.StartDate</td>
            <td>@p.ProjectStatus</td>
            <td>@p.StatusDate</td>
        </tr>
    }
</table>
