@* This page will be for Admin to view ongoing projects and info *@
@*@model IEnumerable<Project>*@
@{ 
    ViewBag.Title = "Admin Page";
    Layout = "_Layout2";
}

@* Think of using a div element to form a border around majority of page *@

<div class="container-fluid">
    <table class="table-bordered">
        <thead class="table-bordered">
            <tr>
                <th>Project Name</th>
                <th>Client</th>
                <th>Start Date</th>
                <th>Status</th>
                <th>Last Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.ProjectName</td>
                    <td>@(p.Client.LastName + ", " + p.Client.FirstName) </td>
                    <td>@p.StartDate</td>
                    <td>@p.ProjectStatus</td>
                    <td>@p.StatusDate</td>
                    <td><a asp-action="EditProject" asp-controller="Project" asp-route-projectid="@p.ProjectID" class="btn-primary" value="@DateTime.Today.ToString()">Edit Project</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
