

@{
    ViewData["Title"] = "Gallery";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row" id="galIndexRow">

        <div class="col-lg-4" >
            <a href="@Url.Action("Remodel", "Gallery")"><img class="img-responsive galIntro" src="~/images/bathSurround.jpg" /></a>
            <h2 class="text-center"><a href="@Url.Action("Remodel", "Gallery")" class="galHeading">Remodel Gallery</a></h2>
        </div>
        <div class="col-lg-4" >
            <a href="@Url.Action("Concrete", "Gallery")"><img class="img-responsive galIntro" src="~/images/leafConcrete.jpg" /></a>
            <h2 class="text-center"><a href="@Url.Action("Concrete", "Gallery")" class="galHeading">Concrete Gallery</a></h2>
        </div>
        <div class="col-lg-4" >
            <a href="@Url.Action("Framing", "Gallery")"><img class="img-responsive galIntro" src="~/images/deck.jpg" /></a>
            <h2 class="text-center"><a href="@Url.Action("Framing", "Gallery")" class="galHeading">Framing Gallery</a></h2>
        </div>
        
    </div>
</div>